.image-section {
    overflow: hidden; 
    position: relative;
}
  
.background-img {
    margin-left: 72px;
    margin-right: 72px;
    overflow: hidden; 
    margin-top: 100px;
}

.story-image2 {
    width: 100%;
    width: 1050px; 
    height: 600px; 
    transition: transform 0.5s ease; 
}
  


  