.app-section-mobile {
  position: relative;
}

.center-column-mobile {
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 40px;
  font-size: 14px;
}

.center-column-mobile h1 {
  margin-top: 40px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.center-column-mobile p {
  text-align: justify;
}

.app-image-container,
.center-column-mobile {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.arrow-button1 {
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
}

.back-button1 {
  left: 0;
}

.next-button1 {
  right: 0;
}
