.follow-us-section-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  
  .follow-us-image-mobile {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
  }
  